body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 1rem;
    color: white;
}

header .logo img {
    height: 50px;
}

header nav {
    display: flex;
    align-items: center;
}

.categories-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.categories-dropdown:hover .dropdown-content {
    display: block;
}

.user-cart a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
}

.user-cart img {
    height: 20px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.user-container {
    display: flex;
    height: calc(100vh - 64px); /* Ajusta la altura restando el tamaño del header */
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .profile-picture {
    text-align: center;
    margin-bottom: 1rem;
}

.sidebar .profile-picture img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin-bottom: 1rem;
    width: 100%;
}

.sidebar ul li button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
}

.sidebar ul li button:hover {
    background-color: #ddd;
}

.main-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.user-details p {
    margin: 0.5rem 0;
}

.newsletter {
    margin-top: 2rem;
}

.newsletter h3 {
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


.user-edit-form {
    margin-top: 2rem;
}

.user-edit-form label {
    display: block;
    margin-top: 0.5rem;
}

.user-edit-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.user-edit-form button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.user-edit-form button[type="button"] {
    background-color: #f44336;
}

.user-edit-form button:hover {
    opacity: 0.8;
}





/* Agregamos estilos para la sección de pedidos */
#user-orders {
    display: none;
  }
  
  #user-orders.active {
    display: block;
  }
  
  #order-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #order-list li {
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-item h3 {
    margin: 0;
  }
  
  .order-item p {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
  }
  
  .btn-details {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .btn-details:hover {
    background-color: #3e8e41;
  }